<headerr [addd]="add"></headerr>
<bannel></bannel>
<div (window:scroll)="srcoll()" class="getting">
  <div class="getting-main">
    <p class="getting-main_content"></p>
    <p class="getting-main_content">DA NANG TRAVEL</p>
    <p class="getting-main_content_extra">YOUR JOURNEY IS OUR JOURNEY</p>

    <div class="getting-main_information">
      <div class="getting-main_information_content" [class.add1]="add1" [class.add11]="add11">
        <img src="../../assets/image/hinh5.png" alt="" class="img" />
        <div>
        <p class="header">Thái Văn Thiện</p>
        <p class="main">
          My first visit to Nha Trang, the coastal city, was three years ago. It
          was a pleasant and memorable trip. Nha Trang, the capital of Khanhs
          Hoaf province, has one of the most popular municipal beaches in all of
          Vietnam. In Nha Trang, nature beauties are so tempting. Waves crashing
          onto the cliffs; the soft sigh of the sea breeze; clean white sands
          and turquoise waters; it all makes for a stunning landscapes. On my
          visit to Nha Trang.
        </p>
        </div>
      </div>
      <div class="getting-main_information_content2" [class.add2]="add2" [class.add22]="add22">
        <div>
        <p class="header2">Thái Văn Thiện</p>
        <p class="main2">
          My first visit to Nha Trang, the coastal city, was three years ago. It
          was a pleasant and memorable trip. Nha Trang, the capital of Khanhs
          Hoaf province, has one of the most popular municipal beaches in all of
          Vietnam. In Nha Trang, nature beauties are so tempting. Waves crashing
          onto the cliffs; the soft sigh of the sea breeze; clean white sands
          and turquoise waters; it all makes for a stunning landscapes. On my
          visit to Nha Trang.
        </p>
        </div>
        <img src="../../assets/image/hinh6.png" alt="" class="img2" />
      </div>
      <div class="getting-main_information_content" [class.add3]="add3" [class.add33]="add33">
        <img src="../../assets/image/hinh7.png" alt="" class="img" />
        <div>
        <p class="header">Thái Văn Thiện</p>
        <p class="main">
          My first visit to Nha Trang, the coastal city, was three years ago. It
          was a pleasant and memorable trip. Nha Trang, the capital of Khanhs
          Hoaf province, has one of the most popular municipal beaches in all of
          Vietnam. In Nha Trang, nature beauties are so tempting. Waves crashing
          onto the cliffs; the soft sigh of the sea breeze; clean white sands
          and turquoise waters; it all makes for a stunning landscapes. On my
          visit to Nha Trang.
        </p>
        </div>
      </div>
    </div>




    
  </div>
</div>
<footer></footer>
