.managebooking
{
width:100%;
height: 870px;
background-color: #f1f1f1;
padding-top: 1%;
}
.manabooking-header
{
    width:84%;
    height: 8%;
    background-color: white;
    display: flex;
    border-radius: 5px;
    position:fixed;
    top:1.5%;
    left:15%;
}
.form
{
    width:60%;
    height: 80%;
    position: relative;
}
.manabooking-header_input
{
    width:60%;
    height: 70%;
    border: none;
    background-color: #f1f1f1;
    border-radius: 22px;
    margin-top: 2%;
    margin-left: 50%;
}
.manabooking-header_input::placeholder
{
padding-left: 12%;
font-size: 14px;
}
.fa-magnifying-glass
{
position: absolute;
left:53%;
top:50%;
}
.manabooking-header_img
{
    width:4%;
    height: 65%;
    border-radius: 50%;
    border: 1px solid #3d808a;
    margin-top:0.9%;
    margin-left: 30%;
}
.manabooking-siderbar
{
    width:15%;
    height: 100%;
    background-color: #f1f1f1;
    position:fixed;
    top:1.5%;
    left:0px;
    bottom:0px;
}
.manabooking-siderbar_logo
{
    width:55%;
    height: 10%;
    padding: 5% 14%;
    margin-left: 4%;
    background-color: white;
    border-radius: 5px;
}
.manabooking-siderbar_function
{
    margin-top:6%;
    margin-left: 4%;
    width:85%;
    height: 70%;
}
.fa-house
{
 color:#b3b1b1;
 font-size: 24px;
 width:20%;
 margin-left: 10%;
 margin-top: 8%;
 cursor: pointer;
}
.fa-user
{
    color:#b3b1b1;
    font-size: 24px;
    width:20%;
    margin-left: 10%;
    cursor: pointer;
    margin-top: 8%;
}
.fa-servicestack
{
    color:#b3b1b1;
    font-size: 24px;
    width:20%;
    margin-left: 10%;
    cursor: pointer;
    margin-top: 8%;
}
.fa-plane
{
    color:#b3b1b1;
    font-size: 24px;
    width:20%;
    margin-left: 10%;
    cursor: pointer;
    margin-top: 8%;
}
.fa-hotel
{
    color:#b3b1b1;
    font-size: 24px;
    width:20%;
    margin-left: 10%;
    cursor: pointer;
    margin-top: 8%;
}
.fa-arrow-right-from-bracket
{

    color:#b3b1b1;
    font-size: 24px;
    width:20%;
    margin-left: 10%;
    cursor: pointer;
    margin-top: 8%;
}
.manabooking-siderbar_function_detail
{
    font-size: 17px;
    color:#454545;
    cursor: pointer;
}
.line
{
    width:90%;
    height: 0.2%;
    background-color:#b3b1b1;
    margin-top: 175%;
}
.mainnn
{
width: 110%;
height: 10%;
cursor: pointer;
}
.mainnn:hover
{
  background-color: #ffffff;
}
.manabooking-table
{
    width:84%;
    height: 88%;
    margin-left: 15%;
    margin-top: 6%;
    background-color: white;
    padding-top: 2%; 
    position: fixed; 
}
.manabooking-table_header
{
    font-size: 18px;
    font-weight: 600;
    position: fixed; 
    left: 6%;
    top: 14%;
    z-index: 2;
}
.manabooking-table_header
{
    color:#000000;
    font-size: 30px;
    margin: 0px;
    margin-left: 40%;
}
.manabooking-table_main
{
    width:95%;
    margin-left: 7%;
    margin-top: 0%;
    height: 76%;
    overflow-y: scroll;
}
.manabooking-table_main_header
{
    width:85.5%;
    height: 9%;
    background-color: #464646;
    border-radius: 8px;
    display: flex;
    margin-left: 7%;
    margin-top: 4%;
}
.manabooking-table_main_header_id
{
    width:10%;
    margin-left: 3%;
    margin-top: 2%;
    color:white;
    font-weight: 600;
}
.manabooking-table_main_header_img
{
    width:15%;
    margin-top: 2%;
    color:white;
    font-weight: 600;
}
.manabooking-table_main_header_name
{
    width:20%;
    margin-top: 2%;
    color:white;
    font-weight: 600;
}
.manabooking-table_main_header_email
{
    width:25%;
    margin-top: 2%;
    color:white;
    font-weight: 600;
}
.manabooking-table_main_header_role
{
    width:20%;
    margin-top: 2%;
    color:white;
    font-weight: 600;
}
.manabooking-table_main_header_action
{
    width:15%;
    margin-top: 2%;
    color:white;
    font-weight: 600;
}
.manabooking-table_main_content
{
    width:90%;
    height: 15%;
    border-radius: 8px;
    display: flex;
    margin-top: 2%;
}
.manabooking-table_main_content_id
{
    width:10%;
    margin-left: 3%;
    margin-top: 3%;
    color:black;
    font-weight: 600;
}
.manabooking-table_main_content_img
{
    width:15%;
    margin-top: 1%;
    color:black;
    font-weight: 600;
}
.manabooking-table_main_content_img_detail
{
    width:45%;
    height: 110%;
    border-radius: 50%;
    margin-left: -4%;
}
.manabooking-table_main_content_name
{
    width:20%;
    margin-top: 3%;
    color:black;
    font-weight: 600;
}
.manabooking-table_main_content_email
{
    width:25%;
    margin-top: 3%;
    color:black;
    font-weight: 600;
}
.manabooking-table_main_content_role
{
    width:20%;
    margin-top: 3%;
    color:black;
    font-weight: 600;
}
.manabooking-table_main_content_action
{
    width:15%;
    margin-top: 3%;
    color:black;
    font-weight: 600;
}
.mot
{
    background-color: #d8d8d8;
}
.hai
{
    background-color: #d8d8d8;
}
.fa-trash
{
font-size: 22px;
margin-left: 6%;
cursor: pointer;
transition: transform;
color:rgb(141, 13, 13);
}
.fa-trash:hover
{
transform: scale(1.3);
}
.fa-check
{
    color:green;
    font-size: 24px;
    font-weight: 600;
    margin-left: 12%;
}